In [11]:
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime
import os

# Verify we're in the correct directory
print("Current working directory:", Path.cwd())
print("\nDataset files found:")
for file in Path('.').glob('*'):
    if file.suffix in ['.csv', '.dat', '.reloc', '.xlsx', '.txt']:
        print(f"  ‚úì {file.name}")

Current working directory: d:\ornl_dsf\webste background\davis\cascadia-earthquake-viewer\data_analysis

Dataset files found:
  ‚úì dataset_field_comparison.xlsx
  ‚úì ds01.xlsx
  ‚úì filt_events_duplicates_removed_v2.csv
  ‚úì hypreloc_fix5_4pr_all.reloc
  ‚úì LFEcat_MTJ_2018-2024.csv
  ‚úì lfe_family_locations.txt
  ‚úì Merrill_et_al_REST_Catalogue.dat

In [12]:
# Dataset 0: Brenton et al. (Current production catalog)
df0 = pd.read_csv('filt_events_duplicates_removed_v2.csv')

print("=" * 80)
print("Dataset 0: Brenton et al. (Current Production)")
print("=" * 80)
print(f"Total events: {len(df0):,}")
print(f"\nColumns ({len(df0.columns)}):")
print(list(df0.columns))
print(f"\nSample data:")
print(df0.head())
print(f"\nData types:")
print(df0.dtypes)

C:\Users\willi\AppData\Local\Temp\ipykernel_25192\4279887936.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df0 = pd.read_csv('filt_events_duplicates_removed_v2.csv')

================================================================================
Dataset 0: Brenton et al. (Current Production)
================================================================================
Total events: 279,148

Columns (28):
['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'evid', 'lon', 'lat', 'dep', 'x', 'y', 'z', 'ot', 'ex', 'ey', 'ez', 'cxy', 'cxz', 'cyz', 'rms', 'gap', 'nsta', 'nphases', 'max_err', 'newdep', 'region', 'dtime', 'datetime', 'duplicate_cluster_id']

Sample data:
   Unnamed: 0.3  Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0               evid  \
0             0            28            44          44  W1.20020110205424
1             0            53            77          77  W1.20020117000943
2             0            84           128         128  W1.20020124202006
3             0           170           338         338  W1.20020213133054
4             0        197193           269         269  W2.20020214223052

          lon        lat        dep         x         y  ...       rms  \
0 -120.523958  46.633877  10.852295  131.9300  -94.9579  ...  0.316607
1 -120.997560  46.691615  13.317627   95.6314  -89.2216  ...  0.267555
2 -120.062993  46.391777   9.083057  167.9060 -121.0180  ...  0.277260
3 -121.074256  46.711204   8.406299   89.7429  -87.1323  ...  0.153711
4 -119.764601  46.233089   8.154932  191.3690  151.3520  ...  0.100810

        gap  nsta  nphases   max_err     newdep  region     dtime  \
0   71.6058    18       26  0.825561  10.485289      W1  0.000792
1   72.6629    18       31  0.829980  11.995155      W1  0.179298
2  107.0860    14       22  0.893463   8.756772      W1  0.795294
3  124.3660    11       16  1.056362   6.879392      W1  0.748807
4   74.2806     8       14  1.634549   7.928546      W2  0.218342

                     datetime  duplicate_cluster_id
0  2002-01-10 20:54:24.971769                   2.0
1  2002-01-17 00:09:44.265329                   3.0
2  2002-01-24 20:20:07.083086                   6.0
3  2002-02-13 13:30:54.888013                  11.0
4  2002-02-14 22:30:53.015405                  12.0

[5 rows x 28 columns]

Data types:
Unnamed: 0.3              int64
Unnamed: 0.2              int64
Unnamed: 0.1              int64
Unnamed: 0                int64
evid                     object
lon                     float64
lat                     float64
dep                     float64
x                       float64
y                       float64
z                       float64
ot                      float64
ex                      float64
ey                      float64
ez                      float64
cxy                     float64
cxz                     float64
cyz                     float64
rms                     float64
gap                     float64
nsta                      int64
nphases                   int64
max_err                 float64
newdep                  float64
region                   object
dtime                   float64
datetime                 object
duplicate_cluster_id    float64
dtype: object

In [13]:
# Dataset 1: Littel et al. 2024 - hypoDD reloc format
# Based on manual: ID, LAT, LON, DEPTH, X, Y, Z, EX, EY, EZ, YR, MO, DY, HR, MI, SC, MAG, etc.

df1 = pd.read_csv('hypreloc_fix5_4pr_all.reloc', sep=r'\s+', header=None,
                   names=['ID', 'LAT', 'LON', 'DEPTH', 'X', 'Y', 'Z', 'EX', 'EY', 'EZ', 
                          'YR', 'MO', 'DY', 'HR', 'MI', 'SC', 'MAG', 'NCCP', 'NCCS', 
                          'NCTP', 'NCTS', 'RCC', 'RCT', 'CID'])

print("\n" + "=" * 80)
print("Dataset 1: Littel et al. 2024")
print("=" * 80)
print(f"Total events: {len(df1):,}")
print(f"\nColumns ({len(df1.columns)}):")
print(list(df1.columns))
print(f"\nSample data:")
print(df1.head())

================================================================================
Dataset 1: Littel et al. 2024
================================================================================
Total events: 18,442

Columns (24):
['ID', 'LAT', 'LON', 'DEPTH', 'X', 'Y', 'Z', 'EX', 'EY', 'EZ', 'YR', 'MO', 'DY', 'HR', 'MI', 'SC', 'MAG', 'NCCP', 'NCCS', 'NCTP', 'NCTS', 'RCC', 'RCT', 'CID']

Sample data:
       ID        LAT          LON  DEPTH        X          Y        Z    EX  \
0      ID        LAT          LON  DEPTH        X          Y        Z    EX
1  107951  50.889807  -130.609530  6.768  66809.0  -114906.3   1768.8  91.2
2      70  51.537431  -130.915584  2.481  45192.6   -42848.3  -2518.4  35.8
3     132  50.828312  -130.651294  4.657  63946.2  -121748.8   -342.5  55.2
4     136  50.832279  -130.657471  3.830  63513.3  -121307.3  -1169.3  68.6

      EY    EZ  ...  MI      SC  MAG  NCCP  NCCS  NCTP  NCTS     RCC     RCT  \
0     EY    EZ  ...  MI      SC  MAG  NCCP  NCCS  NCTP  NCTS     RCC     RCT
1  110.4  79.6  ...  28  46.280  0.0     1     0    14     6   0.000   0.117
2   63.3  18.6  ...   4  15.640  0.0     3     0     0     0   0.002  -9.000
3   95.3  34.1  ...  55  14.920  0.0     0     0    40    19  -9.000   0.104
4  106.5  31.1  ...  47  22.690  0.0     2     0    37    17   0.020   0.118

   CID
0  CID
1    1
2    1
3    1
4    1

[5 rows x 24 columns]

In [14]:
# Dataset 2: Merrill et al. - REST catalog
df2 = pd.read_csv('Merrill_et_al_REST_Catalogue.dat', 
                   sep=r'\s+',
                   header=None,
                   names=['eventID', 'lat', 'lon', 'depth', 'year', 'month', 'day', 
                          'hour', 'minute', 'second', 'x_error', 'z_error', 'label', 'grade'])

print("\n" + "=" * 80)
print("Dataset 2: Merrill et al.")
print("=" * 80)
print(f"Total events: {len(df2):,}")
print(f"\nColumns ({len(df2.columns)}):")
print(list(df2.columns))
print(f"\nSample data:")
print(df2.head())

C:\Users\willi\AppData\Local\Temp\ipykernel_25192\698148926.py:2: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('Merrill_et_al_REST_Catalogue.dat',

================================================================================
Dataset 2: Merrill et al.
================================================================================
Total events: 108,676

Columns (14):
['eventID', 'lat', 'lon', 'depth', 'year', 'month', 'day', 'hour', 'minute', 'second', 'x_error', 'z_error', 'label', 'grade']

Sample data:
                  eventID     lat    lon   depth  year  month      day  \
eventID, lat,        lon,  depth,  year,  month,  day,  hour,  minute,
5        48.623  -125.894  23.008   2000       1     1     17       37
7        48.849  -123.541  12.351   2000       1     2      0       22
20       48.604  -123.105  13.459   2000       1     3      4       40
44       48.804  -125.148  14.513   2000       1     9     21       48

                    hour   minute second  x_error z_error   label  grade
eventID, lat,    second,  x-error  (km),  z-error   (km),  label,  grade
5        48.623     7.27     1.16   2.06        3       S     NaN    NaN
7        48.849    45.91     0.71   1.54        1       S     NaN    NaN
20       48.604    17.88     0.61   2.99        1       S     NaN    NaN
44       48.804    50.58     0.55   2.25        3       S     NaN    NaN

In [15]:
# Dataset 3: Morton et al. 2023 - Excel file
df3 = pd.read_excel('ds01.xlsx')

print("\n" + "=" * 80)
print("Dataset 3: Morton et al. 2023")
print("=" * 80)
print(f"Total events: {len(df3):,}")
print(f"\nColumns ({len(df3.columns)}):")
print(list(df3.columns))
print(f"\nSample data:")
print(df3.head())

================================================================================
Dataset 3: Morton et al. 2023
================================================================================
Total events: 5,282

Columns (23):
['CI YEAR', 'TSTRING', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND', 'LAT', 'LON', 'DEPTH', 'Md', 'Num P&S with weights > 0.1', 'max az gap', 'dist to nearest stn', 'tt RMS', 'ERH', 'ERZ', 'STRIKE', 'DIP', 'RAKE', 'PLATE DESIGNATION', 'TEMPLATE EVENT?']

Sample data:
   CI YEAR       TSTRING  YEAR  MONTH  DAY  HOUR  MINUTE  SECOND        LAT  \
0        1  2.011073e+13  2011      7   26     1       2    7.37  47.321667
1        1  2.011073e+13  2011      7   26     1       2    7.72  44.288833
2        1  2.011073e+13  2011      7   26     1       2    8.56  44.301667
3        1  2.011073e+13  2011      7   26     7      31    2.17  48.263500
4        1  2.011073e+13  2011      7   26     9      50   27.63  48.303167

          LON  ...  max az gap  dist to nearest stn  tt RMS   ERH   ERZ  \
0 -123.270833  ...         166                 27.4    0.19   0.8   1.2
1 -124.334000  ...         332                163.8    0.06  13.1   3.2
2 -124.318000  ...         316                131.1    0.50  35.4  22.2
3 -124.929833  ...         205                 44.4    0.77   3.5   6.4
4 -124.915667  ...         199                 46.1    0.94   4.0   6.9

   STRIKE  DIP  RAKE  PLATE DESIGNATION  TEMPLATE EVENT?
0     NaN  NaN   NaN          Interface          Catalog
1     NaN  NaN   NaN        Upper Plate              NaN
2     NaN  NaN   NaN        Upper Plate              NaN
3     NaN  NaN   NaN        Upper Plate              NaN
4     NaN  NaN   NaN        Upper Plate                T

[5 rows x 23 columns]

In [16]:
# Dataset 4: Shelly et al. 2025 - LFE catalog
df4_events = pd.read_csv('LFEcat_MTJ_2018-2024.csv')

# Family locations
family_locs = pd.DataFrame([
    [1, 40.063867, -123.597624, 28.189],
    [2, 40.069832, -123.632715, 27.623],
    [3, 40.036072, -123.684090, 22.192],
    [4, 40.070557, -123.619751, 28.199],
    [5, 40.063883, -123.593148, 28.578],
    [6, 40.063208, -123.593563, 28.223],
    [7, 40.070020, -123.630452, 27.747],
    [8, 40.088265, -123.709562, 24.216],
    [9, 40.069922, -123.621134, 28.134],
    [10, 40.069836, -123.627124, 27.834],
    [11, 40.040125, -123.675838, 22.449],
    [12, 40.068445, -123.626107, 27.775],
    [13, 40.069963, -123.623511, 27.960],
    [14, 40.036499, -123.668848, 23.295],
    [15, 40.069820, -123.632642, 27.698],
    [16, 40.064124, -123.599935, 28.170],
    [17, 40.070052, -123.620215, 28.126],
    [18, 40.067786, -123.610710, 28.209],
    [19, 40.072070, -123.686711, 25.676],
    [20, 40.064315, -123.601424, 28.162],
    [21, 40.027307, -123.606934, 23.712],
    [22, 40.073580, -123.644653, 27.497],
    [23, 40.053434, -123.556055, 27.045],
    [24, 40.064563, -123.601245, 28.189],
    [25, 40.069836, -123.619857, 28.164],
    [26, 40.072095, -123.712524, 24.127],
    [27, 40.036267, -123.532186, 25.939]
], columns=['idnum', 'latitude', 'longitude', 'depth'])

# Join events with family locations
df4 = df4_events.merge(family_locs, on='idnum', how='left')

print("\n" + "=" * 80)
print("Dataset 4: Shelly et al. 2025")
print("=" * 80)
print(f"Total events: {len(df4):,}")
print(f"\nColumns ({len(df4.columns)}):")
print(list(df4.columns))
print(f"\nSample data:")
print(df4.head())

================================================================================
Dataset 4: Shelly et al. 2025
================================================================================
Total events: 61,441

Columns (17):
['%year', 'month', 'day', 'hour', 'minute', 'second', 's_of_day', 'ccsum', 'thresh', 'cc_div_thr', 'meancc', 'nchan', 'ID', 'idnum', 'latitude', 'longitude', 'depth']

Sample data:
   %year  month  day  hour  minute  second  s_of_day  ccsum  thresh  \
0   2018      1    1     1      26   14.88   5174.88   4.00    2.68
1   2018      1    1     1      27    3.46   5223.46   3.32    2.68
2   2018      1    1    22      23   56.98  80636.98   4.94    2.77
3   2018      1    1    22      24   37.13  80677.13   3.76    2.77
4   2018      1    1    22      24   46.79  80686.79   3.91    2.76

   cc_div_thr  meancc  nchan            ID  idnum   latitude   longitude  \
0        1.49   0.222     18  22111112742s     27  40.036267 -123.532186
1        1.24   0.184     18  22111112742s     27  40.036267 -123.532186
2        1.78   0.329     15  22090836511s      6  40.063208 -123.593563
3        1.36   0.250     15  22090836511s      6  40.063208 -123.593563
4        1.42   0.260     15  22091338816s      1  40.063867 -123.597624

    depth
0  25.939
1  25.939
2  28.223
3  28.223
4  28.189

In [17]:
# Create comprehensive field mapping
comparison = pd.DataFrame({
    'Universal Field': ['Event ID', 'Latitude', 'Longitude', 'Depth (km)', 'Origin Time', 
                        'Year', 'Month', 'Day', 'Hour', 'Minute', 'Second', 
                        'Magnitude', 'Num Stations', 'Azimuthal Gap', 
                        'Horizontal Error', 'Vertical Error', 'RMS Residual'],
    
    'Dataset0_Brenton': ['evid', 'lat', 'lon', 'newdep', 'ot (POSIX)', 
                         '‚ùå (parse ot)', '‚ùå', '‚ùå', '‚ùå', '‚ùå', '‚ùå', 
                         '‚ùå', 'nsta', 'gap', 'max_err', '‚ùå', 'rms'],
    
    'Dataset1_Littel': ['ID', 'LAT', 'LON', 'DEPTH', '‚ùå', 
                        'YR', 'MO', 'DY', 'HR', 'MI', 'SC', 
                        'MAG', '‚ùå', '‚ùå', 'EX', 'EZ', '‚ùå'],
    
    'Dataset2_Merrill': ['eventID', 'lat', 'lon', 'depth', '‚ùå', 
                         'year', 'month', 'day', 'hour', 'minute', 'second', 
                         '‚ùå', '‚ùå', '‚ùå', 'x_error', 'z_error', '‚ùå'],
    
    'Dataset3_Morton': ['‚ùå', 'LAT', 'LON', 'DEPTH', '‚ùå', 
                        'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND', 
                        'Md', 'Num P&S', 'max az gap', 'ERH', 'ERZ', 'tt RMS'],
    
    'Dataset4_Shelly': ['ID (family)', 'latitude', 'longitude', 'depth', '‚ùå', 
                        '%year', 'month', 'day', 'hour', 'minute', 'second', 
                        '‚ùå', 'nchan', '‚ùå', '‚ùå', '‚ùå', '‚ùå']
})

print("\n" + "=" * 80)
print("FIELD COMPARISON ACROSS ALL DATASETS")
print("=" * 80)
print(comparison.to_string(index=False))

# Count which fields exist in ALL datasets
print("\n" + "=" * 80)
print("UNIVERSAL FIELDS (Present in ALL 5 datasets):")
print("=" * 80)
for idx, row in comparison.iterrows():
    has_all = all('‚ùå' not in str(val) for val in row[1:])
    if has_all:
        print(f"‚úÖ {row['Universal Field']}")

print("\n" + "=" * 80)
print("OPTIONAL FIELDS (Missing in some datasets):")
print("=" * 80)
for idx, row in comparison.iterrows():
    has_some_missing = any('‚ùå' in str(val) for val in row[1:])
    if has_some_missing:
        missing_count = sum(1 for val in row[1:] if '‚ùå' in str(val))
        print(f"‚ö†Ô∏è  {row['Universal Field']} (missing in {missing_count}/5 datasets)")

# Save to Excel
comparison.to_excel('dataset_field_comparison.xlsx', index=False)
print("\n‚úÖ Saved comparison table to: dataset_field_comparison.xlsx")

================================================================================
FIELD COMPARISON ACROSS ALL DATASETS
================================================================================
 Universal Field Dataset0_Brenton Dataset1_Littel Dataset2_Merrill Dataset3_Morton Dataset4_Shelly
        Event ID             evid              ID          eventID               ‚ùå     ID (family)
        Latitude              lat             LAT              lat             LAT        latitude
       Longitude              lon             LON              lon             LON       longitude
      Depth (km)           newdep           DEPTH            depth           DEPTH           depth
     Origin Time       ot (POSIX)               ‚ùå                ‚ùå               ‚ùå               ‚ùå
            Year     ‚ùå (parse ot)              YR             year            YEAR           %year
           Month                ‚ùå              MO            month           MONTH           month
             Day                ‚ùå              DY              day             DAY             day
            Hour                ‚ùå              HR             hour            HOUR            hour
          Minute                ‚ùå              MI           minute          MINUTE          minute
          Second                ‚ùå              SC           second          SECOND          second
       Magnitude                ‚ùå             MAG                ‚ùå              Md               ‚ùå
    Num Stations             nsta               ‚ùå                ‚ùå         Num P&S           nchan
   Azimuthal Gap              gap               ‚ùå                ‚ùå      max az gap               ‚ùå
Horizontal Error          max_err              EX          x_error             ERH               ‚ùå
  Vertical Error                ‚ùå              EZ          z_error             ERZ               ‚ùå
    RMS Residual              rms               ‚ùå                ‚ùå          tt RMS               ‚ùå

================================================================================
UNIVERSAL FIELDS (Present in ALL 5 datasets):
================================================================================
‚úÖ Latitude
‚úÖ Longitude
‚úÖ Depth (km)

================================================================================
OPTIONAL FIELDS (Missing in some datasets):
================================================================================
‚ö†Ô∏è  Event ID (missing in 1/5 datasets)
‚ö†Ô∏è  Origin Time (missing in 4/5 datasets)
‚ö†Ô∏è  Year (missing in 1/5 datasets)
‚ö†Ô∏è  Month (missing in 1/5 datasets)
‚ö†Ô∏è  Day (missing in 1/5 datasets)
‚ö†Ô∏è  Hour (missing in 1/5 datasets)
‚ö†Ô∏è  Minute (missing in 1/5 datasets)
‚ö†Ô∏è  Second (missing in 1/5 datasets)
‚ö†Ô∏è  Magnitude (missing in 3/5 datasets)
‚ö†Ô∏è  Num Stations (missing in 2/5 datasets)
‚ö†Ô∏è  Azimuthal Gap (missing in 3/5 datasets)
‚ö†Ô∏è  Horizontal Error (missing in 1/5 datasets)
‚ö†Ô∏è  Vertical Error (missing in 2/5 datasets)
‚ö†Ô∏è  RMS Residual (missing in 3/5 datasets)

‚úÖ Saved comparison table to: dataset_field_comparison.xlsx

In [18]:
print("=" * 80)
print("ANALYSIS SUMMARY")
print("=" * 80)

print("\nüìä DATASET SIZES:")
print(f"  ‚Ä¢ Dataset 0 (Brenton):  {len(df0):,} events")
print(f"  ‚Ä¢ Dataset 1 (Littel):   {len(df1):,} events")
print(f"  ‚Ä¢ Dataset 2 (Merrill):  {len(df2):,} events")
print(f"  ‚Ä¢ Dataset 3 (Morton):   {len(df3):,} events")
print(f"  ‚Ä¢ Dataset 4 (Shelly):   {len(df4):,} events")
print(f"  ‚Ä¢ TOTAL:                {len(df0)+len(df1)+len(df2)+len(df3)+len(df4):,} events")

print("\n‚úÖ MANDATORY FIELDS (Must be in unified schema):")
print("  These exist in ALL 5 datasets:")
print("    1. Latitude")
print("    2. Longitude")
print("    3. Depth (km)")
print("    4. Year")
print("    5. Month")
print("    6. Day")
print("    7. Hour")
print("    8. Minute")
print("    9. Second")

print("\n‚ö†Ô∏è  PROBLEMATIC FIELDS:")
print("  ‚Ä¢ Event ID: Missing in Morton (Dataset 3)")
print("  ‚Ä¢ Magnitude: Only in Littel (MAG) and Morton (Md) - missing in 3/5 datasets")
print("  ‚Ä¢ Num Stations: Different definitions across datasets")
print("  ‚Ä¢ Azimuthal Gap: Only in Brenton and Morton")
print("  ‚Ä¢ Error metrics: Different types (horizontal vs x/y, vertical vs z)")

print("\nüéØ RECOMMENDED UNIFIED SCHEMA:")
print("  REQUIRED FIELDS (all datasets):")
print("    ‚Ä¢ id (generate if missing)")
print("    ‚Ä¢ latitude")
print("    ‚Ä¢ longitude")
print("    ‚Ä¢ depth_km")
print("    ‚Ä¢ origin_time (construct from year/month/day/hour/minute/second)")
print("    ‚Ä¢ catalog_source (Brenton|Littel|Merrill|Morton|Shelly)")
print()
print("  OPTIONAL FIELDS (null if missing):")
print("    ‚Ä¢ magnitude")
print("    ‚Ä¢ num_stations")
print("    ‚Ä¢ azimuthal_gap")
print("    ‚Ä¢ horizontal_error_km")
print("    ‚Ä¢ vertical_error_km")
print("    ‚Ä¢ rms_residual")

print("\nüìã NEXT STEPS:")
print("  1. ‚úÖ Push dataset_field_comparison.xlsx")
print("  2. Get approval on unified schema")
print("  3. Write transformation scripts to convert all 5 datasets to unified format")
print("  4. Load unified data into PostGIS database")
print("  5. Build catalog dropdown in frontend")
print("  6. Remove region-specific filters (W1/W2/E1/E2)")
print("  7. Add universal filters: lat/lon bounds, depth, date range, magnitude (optional)")

print("\n" + "=" * 80)

================================================================================
ANALYSIS SUMMARY
================================================================================

üìä DATASET SIZES:
  ‚Ä¢ Dataset 0 (Brenton):  279,148 events
  ‚Ä¢ Dataset 1 (Littel):   18,442 events
  ‚Ä¢ Dataset 2 (Merrill):  108,676 events
  ‚Ä¢ Dataset 3 (Morton):   5,282 events
  ‚Ä¢ Dataset 4 (Shelly):   61,441 events
  ‚Ä¢ TOTAL:                472,989 events

‚úÖ MANDATORY FIELDS (Must be in unified schema):
  These exist in ALL 5 datasets:
    1. Latitude
    2. Longitude
    3. Depth (km)
    4. Year
    5. Month
    6. Day
    7. Hour
    8. Minute
    9. Second

‚ö†Ô∏è  PROBLEMATIC FIELDS:
  ‚Ä¢ Event ID: Missing in Morton (Dataset 3)
  ‚Ä¢ Magnitude: Only in Littel (MAG) and Morton (Md) - missing in 3/5 datasets
  ‚Ä¢ Num Stations: Different definitions across datasets
  ‚Ä¢ Azimuthal Gap: Only in Brenton and Morton
  ‚Ä¢ Error metrics: Different types (horizontal vs x/y, vertical vs z)

üéØ RECOMMENDED UNIFIED SCHEMA:
  REQUIRED FIELDS (all datasets):
    ‚Ä¢ id (generate if missing)
    ‚Ä¢ latitude
    ‚Ä¢ longitude
    ‚Ä¢ depth_km
    ‚Ä¢ origin_time (construct from year/month/day/hour/minute/second)
    ‚Ä¢ catalog_source (Brenton|Littel|Merrill|Morton|Shelly)

  OPTIONAL FIELDS (null if missing):
    ‚Ä¢ magnitude
    ‚Ä¢ num_stations
    ‚Ä¢ azimuthal_gap
    ‚Ä¢ horizontal_error_km
    ‚Ä¢ vertical_error_km
    ‚Ä¢ rms_residual

üìã NEXT STEPS:
  1. ‚úÖ Push dataset_field_comparison.xlsx
  2. Get approval on unified schema
  3. Write transformation scripts to convert all 5 datasets to unified format
  4. Load unified data into PostGIS database
  5. Build catalog dropdown in frontend
  6. Remove region-specific filters (W1/W2/E1/E2)
  7. Add universal filters: lat/lon bounds, depth, date range, magnitude (optional)

================================================================================

In [2]:
import json

path = "C:\\Users\\willi\\Downloads\\crescent_cfm_crustal_3d.geojson"

with open(path, "r") as f:
    data = json.load(f)

print("Number of features:", len(data["features"]))

Number of features: 149

In [3]:
from collections import Counter

types = Counter(f["geometry"]["type"] for f in data["features"])
print(types)

Counter({'MultiPolygon': 149})

In [ ]:
import json, math
from collections import Counter

# 1. Define your path variable here
path = "C:\\Users\\willi\\Downloads\\crescent_cfm_crustal_3d.geojson"

# 2. Pass the 'path' variable into the open function
with open(path, "r") as f:
    gj = json.load(f)

geom_types = Counter([ft["geometry"]["type"] for ft in gj["features"]])
nfeat = len(gj["features"])

total_vertices = 0
max_vertices = 0

for ft in gj["features"]:
    coords = ft["geometry"]["coordinates"]  # MultiPolygon
    v = 0
    for poly in coords:
        for ring in poly:
            v += len(ring)
    total_vertices += v
    max_vertices = max(max_vertices, v)

print("features:", nfeat, geom_types)
print("total vertices:", total_vertices)
print("max vertices in a feature:", max_vertices)

features: 149 Counter({'MultiPolygon': 149})
total vertices: 486456
max vertices in a feature: 17472